<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:aop="http://www.springframework.org/schema/aop"
   xmlns:context="http://www.springframework.org/schema/context"


   xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd    http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd    http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd    http://www.springframework.org/schema/jee
http://www.springframework.org/schema/jee/spring-jee.xsd    http://www.springframework.org/schema/lang
http://www.springframework.org/schema/lang/spring-lang.xs    http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd    http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util.xsd    http://www.springframework.org/schema/task
http://www.springframework.org/schema/task/spring-task.xsd">


<context:annotation-config></context:annotation-config>
<context:component-scan base-package="ReviewAction,ReviewServiceProcess">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Repository" />
        <context:include-filter type="annotation"
			expression="org.springframework.stereotype.Service" />
        <context:include-filter type="annotation"
			expression="org.springframework.stereotype.Component" />
</context:component-scan>

<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/prac" />
        <property name="username" value="root" />
        <property name="password" value="1234" />
</bean>

<bean id="connecBatis" class="org.mybatis.spring.SqlSessionFactoryBean"> 
        <property name="dataSource" ref="dataSource" /> <!--ref 데이터베이스 연결시키는 bean의 id랑 매칭시켜 줘야함-->
        <property name="configLocation" value="classpath:BatisSetting/MybatisSet.xml" /> 
</bean>
<bean id="springBatis" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="connecBatis" />
</bean>
<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="50000000"></property>
		<property name="maxInMemorySize" value="50000000"></property>
</bean>

</beans>
